# TensorFlow Addons Codeowners

# SIG maintainers are the catch all for reviews
* @tensorflow/sig-addons-maintainers

# Subpackage Owners
/tensorflow_addons/activations/ @facaiy @seanpmorgan
/tensorflow_addons/callbacks/ @squadrick
/tensorflow_addons/image/ @windqaq @facaiy 
/tensorflow_addons/layers/ @seanpmorgan @facaiy
/tensorflow_addons/losses/ @facaiy @windqaq
/tensorflow_addons/metrics/ @squadrick
/tensorflow_addons/optimizers/ @facaiy @windqaq @squadrick
/tensorflow_addons/rnn/ @qlzh727
/tensorflow_addons/seq2seq/ @qlzh727
/tensorflow_addons/text/ @seanpmorgan @facaiy

/tensorflow_addons/custom_ops/image/ @windqaq @facaiy
/tensorflow_addons/custom_ops/seq2seq/ @qlzh727
/tensorflow_addons/custom_ops/text/ @seanpmorgan @facaiy

# Submodule Owners
# These may not automatically trigger a review because submodule owners do not
# always have write access. But still adding these here for
# repository understanding.

/tensorflow_addons/activations/sparsemax*.py @AndreasMadsen
/tensorflow_addons/image/dense_image_warp*.py @WindQAQ
/tensorflow_addons/image/distort_image_ops*.py @WindQAQ
/tensorflow_addons/image/filters*.py @Mainak431
/tensorflow_addons/layers/normalizations*.py @smokrow
/tensorflow_addons/layers/sparsemax*.py @AndreasMadsen
/tensorflow_addons/losses/contrastive*.py @WindQAQ
/tensorflow_addons/losses/sparsemax*.py @AndreasMadsen
