dist: xenial
language: minimal

git:
  quiet: true

services:
- docker

install:
- curl https://bootstrap.pypa.io/get-pip.py | sudo -H python
- sudo -H python -m pip install -q -U twine --ignore-installed six
- twine --version

stages:
- test
- build

jobs:
  include:
    # Linux Tests
    - stage: test
      name: "Test on Ubuntu 16.04"
      script:
      - bash -x -e tools/run_docker.sh -c 'make unit-test'

    # Linux Builds
    - stage: build
      name: "Build on Ubuntu 16.04 for Python 2.7 3.5 3.6 3.7"
      script:
      - bash -x -e tools/run_docker.sh -d gpu -c 'tools/ci_build/builds/release_linux.sh'
      after_success:
        - twine upload -u $PYPI_USER -p $PYPI_PW wheelhouse/*.whl

    # MacOS Builds
    - stage: build
      name: "Build on MacOS for Python 2.7 3.5 3.6 3.7"
      os: osx
      osx_image: xcode10
      script:
        - bash -x -e tools/ci_build/builds/release_macos.sh
      after_success:
        - twine upload -u $PYPI_USER -p $PYPI_PW wheelhouse/*.whl

notifications:
  email:
    recipients:
      - seanmorgan@outlook.com
    on_success: never
    on_failure: always
