name: Backport
on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  backport:
    runs-on: ubuntu-18.04
    name: Backport
    steps:
      - name: Backport Bot
        if: github.event.pull_request.merged && ( ( github.event.action == 'closed' && contains( join( github.event.pull_request.labels.*.name ), 'backport') ) || contains( github.event.label.name, 'backport' ) )
        uses: Gaurav0/backport@v1.0.24
        with:
          bot_username: bot-of-gabrieldemarmiesse
          bot_token: 7f75e101110126f921453495c02bcdfd6b4fd3ae
          bot_token_key: a1b2c3d47311f8e29e204f85a81b4df4a44e252c
          github_token: ${{ secrets.GITHUB_TOKEN }}
