name: GitHub CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  BAZEL_VERSION: 1.1.0

jobs:
  linux-test:
    name: Ubuntu CPU Python3
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: CI test Ubuntu CPU
        run: |
          set -x -e
          bash tools/run_docker.sh -d cpu -c 'make unit-test'
  macos-test:
    name: MacOS CPU Python3
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.7']
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: CI test macOS py${{ matrix.python-version }}
        run: |
          python -m pip install wheel setuptools
          bash tools/ci_testing/install_bazel_macos.sh $BAZEL_VERSION
          bash -x -e tools/ci_testing/addons_cpu.sh
  windows-test:
    name: Windows CPU Python3
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.7.6']
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: CI test windows py${{ matrix.python-version }}
        shell: bash
        run: |
            cp /c/hostedtoolcache/windows/Python/${{ matrix.python-version }}/x64/python /c/hostedtoolcache/windows/Python/${{ matrix.python-version }}/x64/python3
            python3 -m pip install wheel setuptools
            curl -sSOL https://github.com/bazelbuild/bazel/releases/download/${BAZEL_VERSION}/bazel-${BAZEL_VERSION}-windows-x86_64.exe
            export BAZEL_VC=/c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2019/Enterprise/VC/
            export BAZEL_PATH=/d/a/addons/addons/bazel-${BAZEL_VERSION}-windows-x86_64.exe
            export PATH=/c/hostedtoolcache/windows/Python/${{ matrix.python-version }}/x64/:$PATH
            bash -x -e ./tools/ci_testing/addons_cpu.sh
  sanity-check:
    name: Sanity Check
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Sanity check
        run: |
          set -x -e
          bash tools/run_docker.sh -c 'make sanity-check'
  flake8-test:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
      - name: install flake8
        run: pip install flake8
      - name: Run flake8
        run: flake8
  black-test:
    name: Black Python code format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
      - name: install black
        run: pip install black
      - name: Ensure contributor used ("black ./") before commit
        run: black --check ./
