name: GitHub CI

on:
  push:
    branches:
      - master
      - r*
  pull_request:
    branches:
      - master
      - r*

jobs:
  flake8-test:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run flake8
        run: bash tools/run_build.sh flake8-test
  black-test:
    name: Black Python code format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Ensure contributor used ("black ./") before commit
        run: bash tools/run_build.sh black-test
  source_code_test:
    name: Check that the source code is compliant
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run type check
        run: bash tools/run_build.sh source_code_test
  valid_build_files:
    name: Valid build files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run type check
        run: bash tools/run_build.sh valid_build_files
  clang-format:
    name: Clang C++ code format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run type check
        run: bash tools/run_build.sh clang-format
  check-bazel-format:
    name: Bazel code format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run type check
        run: bash tools/run_build.sh check-bazel-format
  pre-commit:
    name: Check that the pre-commit works
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Checking the pre-commit
        run: bash tools/pre-commit.sh
  docs_tests:
    name: Check that we can build the docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Building the docs
        run: bash tools/run_build.sh docs_tests
  test_python_code_only:
    name: Fast build to run python-only tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v1
        with:
          python-version: 3.5
      - uses: actions/checkout@v2
      - run: pip install --default-timeout=1000 -r tools/install_deps/tensorflow-cpu.txt -r tools/install_deps/pytest.txt
      - run: pip install -e ./
      - run: pytest -v -n auto --skip-custom-ops ./tensorflow_addons
  test_cpu_in_small_docker_image:
    name: Run the cpu tests in a small python docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: bash tools/run_cpu_tests.sh
  valid-codeowners:
    name: Check that the CODEOWNERS is valid
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - run: pip install pygithub click
      - name: Check that the CODEOWNERS is valid
        run: python .github/workflows/notify_codeowners.py .github/CODEOWNERS
