name: GitHub CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  BAZEL_VERSION: 1.1.0

jobs:
  macos-test:
    name: MacOS CPU Python3 unit-test
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.7.5']
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: CI test macOS py${{ matrix.python-version }}
        run: |
          set -x -e
          python -m pip install wheel setuptools
          wget --quiet -nc https://github.com/bazelbuild/bazel/releases/download/${BAZEL_VERSION}/bazel-${BAZEL_VERSION}-installer-darwin-x86_64.sh
          chmod +x bazel-${BAZEL_VERSION}-installer-darwin-x86_64.sh
          ./bazel-${BAZEL_VERSION}-installer-darwin-x86_64.sh --user
          bash -x -e tools/ci_testing/addons_cpu.sh
  windows-test:
    name: Windows CPU Python3 unit-test
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ['3.7.5']
    steps:
      - uses: actions/checkout@v1
      - uses: numworks/setup-msys2@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: CI test windows py${{ matrix.python-version }}
        shell: cmd
        run: |
            python -m pip install wheel setuptools
            curl -sSOL https://github.com/bazelbuild/bazel/releases/download/%BAZEL_VERSION%/bazel-%BAZEL_VERSION%-windows-x86_64.exe
            echo export BAZEL_VC=/c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio/2019/Enterprise/VC/  >>D:\a\_temp\msys\msys64\home\runneradmin\.bash_profile
            echo export BAZEL_PATH=/d/a/addons/addons/bazel-%BAZEL_VERSION%-windows-x86_64.exe  >>D:\a\_temp\msys\msys64\home\runneradmin\.bash_profile
            echo export PATH=/c/hostedtoolcache/windows/Python/${{ matrix.python-version }}/x64/:$PATH  >>D:\a\_temp\msys\msys64\home\runneradmin\.bash_profile
            msys2do ./tools/ci_testing/addons_cpu.sh
  sanity-cpu:
    name: Python3 CPU sanity-check
    runs-on: gcr.io/tensorflow-testing/nosla-ubuntu16.04-manylinux2010
    steps:
      - name: CI sanity-check py${{ matrix.python-version }}
        run: |
          set -x -e
          ln -sf /usr/bin/python3.6 /usr/bin/python && rm /usr/bin/python2
          python -m pip install wheel setuptools
          wget --quiet -nc https://github.com/bazelbuild/bazel/releases/download/${BAZEL_VERSION}/bazel-${BAZEL_VERSION}-installer-darwin-x86_64.sh
          chmod +x bazel-${BAZEL_VERSION}-installer-darwin-x86_64.sh
          ./bazel-${BAZEL_VERSION}-installer-darwin-x86_64.sh --user
          bash -x -e tools/ci_build/ci_sanity.sh
