name: macos-nightly

on:
  schedule:
    - cron:  '0 0 * * *'

env:
  BAZEL_VERSION: 1.1.0

jobs:
  macos-cpu-nightly-test:
    name: Test nightly on macOS
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.5', '3.6', '3.7']
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Nightly test macOS py${{ matrix.python-version }}
        run: |
          python --version
          bash tools/ci_testing/install_bazel_macos.sh $BAZEL_VERSION
          bash -x -e tools/ci_testing/addons_cpu.sh

  macos-nightly-bazel:
    name: Bazel nightly for macOS
    needs: [macos-cpu-nightly-test]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Nightly build for macOS
        env:
          TF_NEED_CUDA: 0
        run: |
          python --version
          bash tools/ci_testing/install_bazel_macos.sh $BAZEL_VERSION
          python3 ./configure.py --quiet
          bazel build \
            -c opt \
            --noshow_progress \
            --noshow_loading_progress \
            --verbose_failures \
            --test_output=errors \
            build_pip_pkg
      - uses: actions/upload-artifact@v1
        with:
          name: ${{ runner.os }}-bazel-bin
          path: bazel-bin

  macos-nightly-wheel:
    name: Build nightly wheels for macOS
    needs: [macos-nightly-bazel]
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ['3.5', '3.6', '3.7']
    steps:
      - uses: actions/checkout@v1
      - uses: actions/download-artifact@v1
        with:
          name: ${{ runner.os }}-bazel-bin
          path: bazel-bin
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build macOS wheels
        run: |
          chmod +x bazel-bin/build_pip_pkg
          python3 -m pip install delocate wheel setuptools

          bazel-bin/build_pip_pkg artifacts --nightly
          for f in artifacts/*.whl; do
            delocate-wheel -w wheelhouse $f
          done
      - uses: actions/upload-artifact@v1
        with:
          name: ${{ runner.os }}-wheels
          path: wheelhouse

  upload-wheels:
    name: Publish wheels to PyPi
    needs: [macos-nightly-wheel]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: macOS-wheels
          path: macOS-wheels
      - run: |
          set -e -x
          mkdir -p dist
          cp macOS-wheels/*.whl dist/
          ls -la dist/
          sha256sum dist/*.whl
      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
