name: manylinux-nightly

on:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  manylinux-cpu-nightly-test:
    name: Test nightly on Ubuntu
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Nightly test Ubuntu
        run: |
          set -x -e
          bash tools/run_docker.sh -d cpu -c 'make unit-test'

  manylinux-nightly-wheel:
    name: Build nightly wheels for manylinux2010
    needs: [manylinux-cpu-nightly-test]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: 3.6
      - name: Build manylinux2010 wheels
        run: |
          docker run -e TF_NEED_CUDA=1 -v ${PWD}:/addons -w /addons \
            gcr.io/tensorflow-testing/nosla-cuda10.1-cudnn7-ubuntu16.04-manylinux2010 \
            tools/ci_build/builds/release_linux.sh --nightly

          sudo apt-get install patchelf
          python3 -m pip install -U auditwheel==2.0.0
          tools/ci_build/builds/tf_auditwheel_patch.sh

          for f in artifacts/*.whl; do
            auditwheel repair --plat manylinux2010_x86_64 $f
          done
          ls -al wheelhouse/
      - uses: actions/upload-artifact@v1
        with:
          name: ${{ runner.os }}-wheels
          path: wheelhouse

  upload-wheels:
    name: Publish wheels to PyPi
    needs: [manylinux-nightly-wheel]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: Linux-wheels
          path: Linux-wheels
      - run: |
          set -e -x
          mkdir -p dist
          cp Linux-wheels/*.whl dist/
          ls -la dist/
          sha256sum dist/*.whl
      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
