name: addons-release

on:
  release:
    types: [published]
    tags:
      - v*
  push:
    branches:
      - master
      - r*
  pull_request:
    branches:
      - master
      - r*
  schedule:
    - cron:  '0 0 * * *'

env:
  BAZEL_VERSION: 1.1.0

jobs:
  release-wheel:
    name: Build release wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['macos-latest', 'windows-latest', 'ubuntu-18.04']
        python-version: ['3.5', '3.6', '3.7']
      fail-fast: false
    steps:
      - if: github.event_name == 'schedule'
        run: echo "::set-env name=NIGHTLY_FLAG::--nightly"
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build wheels
        if: github.event_name == 'schedule' || github.event_name == 'release' || matrix.python-version == '3.5'
        env:
          PY_VERSION: ${{ matrix.python-version }}
          OS: ${{ runner.os }}
        shell: bash
        run: bash .github/workflows/make_wheel_${OS}.sh
      - uses: actions/upload-artifact@v1
        if: github.event_name == 'schedule' || github.event_name == 'release' || matrix.python-version == '3.5'
        with:
          name: ${{ runner.os }}-wheels
          path: wheelhouse

  upload-wheels:
    name: Publish wheels to PyPi
    needs: [release-wheel]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: Linux-wheels
          path: Linux-wheels
      - uses: actions/download-artifact@v1
        with:
          name: macOS-wheels
          path: macOS-wheels
      - uses: actions/download-artifact@v1
        with:
          name: Windows-wheels
          path: Windows-wheels
      - run: |
          set -e -x
          mkdir -p dist
          cp Linux-wheels/*.whl dist/
          cp macOS-wheels/*.whl dist/
          cp Windows-wheels/*.whl dist/
          ls -la dist/
          sha256sum dist/*.whl
      - uses: pypa/gh-action-pypi-publish@master
        if: github.event_name == 'schedule' || github.event_name == 'release'
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
